<header class="site-header">
  <meta name="author" content="MaCS" />
  <meta name="description" content="MaCS Hacks" />
  <meta name="instagram:title" content="MaCS Hacks" />
  <meta name="instagram:image:src" content="/Event_Image_1.67x1.png" />
  <meta name="instagram:image:src" content="/Event_Image_1.67x1.png" />
  <meta name="instagram:image" content="/Event_Image_1.67x1.png" />
  <meta name="instagram:description" content="Solve a computation problem in a limited amount of time. All skill levels welcome!" />
  <a href="https://macewan.campuslabs.ca/engage/organization/macs" class="logo">
	<!--img src="{{ '/assets/MaCS_Logo_Classic.svg' | relative_url }}" alt="MaCS Logo"-->
  </a>
	<nav class="site-nav">
	{% include nav_link.html name="Join the Discord" href="https://discord.com/invite/dCJrADTAjw" icon="/assets/icons/discord.svg" %}
	{% include nav_link.html name="Instagram" href="https://www.instagram.com/macewancs/" icon="/assets/icons/instagram.svg" %}
	{% include nav_link.html name="SAMU Campus Labs" href="https://samu.campuslabs.ca/engage/organization/macs" icon="/assets/icons/samu.svg" %}
	{% include nav_link.html name="LinkedIn" href="https://www.linkedin.com/company/macewancsclub" icon="/assets/icons/linkedin.svg" %}
	</nav>
  <button class="hamburger" type="button" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
