<header class="site-header">
  <meta name="author" content="MaCS" />
  <meta name="description" content="MaCS Hacks" />
  <meta name="instagram:title" content="MaCS Hacks" />
  <meta name="instagram:image:src" content="/Event_Image_1.67x1.png" />
  <meta name="instagram:image:src" content="/Event_Image_1.67x1.png" />
  <meta name="instagram:image" content="/Event_Image_1.67x1.png" />
  <meta name="instagram:description" content="Solve a computation problem in a limited amount of time. All skill levels welcome!" />
  <a href="https://macewan.campuslabs.ca/engage/organization/macs" class="logo">
	<!--img src="{{ '/assets/MaCS_Logo_Classic.svg' | relative_url }}" alt="MaCS Logo"-->
  </a>
	<nav class="site-nav">
	  <a href="https://discord.com/invite/dCJrADTAjw" {% if page.url == "/" %} class="active" target = "_blank"{% endif %}>						   Join the Discord</a>
	  <!--a href="/events.html"  {% if page.url == "/events.html" %}   class="active" {% endif %}> Events</a-->
	  <!-- a href="/about.html"   {% if page.url == "/about.html" %}     class="active" {% endif %}> About</a-->
	  <!-- <a href="/contact.html" {% if page.url == "/contact.html" %} class="active" {% endif %}> Contact</a> -->
	</nav>
</header>
